<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>

				<configuration name="Gymster.Templates">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\templates"
					useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
					singleInstance="true"/>

					<predicate>

						<!--<include name="Layouts" database="master" path="/sitecore/layout/Layouts/YourSite" />-->

						<include name="GymsterTemplates" database="master" path="/sitecore/templates/Gymster" />

						<!--<include database="master" path="/sitecore/system/Languages" />

<include database="master" path="/sitecore/system/Tasks">
<exclude path="Schedules" />
</include>

<include database="master" path="/sitecore/system/Workflows" />


<include database="master" path="/sitecore/system/Settings" />-->
					</predicate>

				</configuration>

				<configuration name="Gymster.Presentation">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\presentaion"
					useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
					singleInstance="true"/>

					<predicate>

						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Gymster" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Gymster" />

						<!--<include name="StartUpTemplates" database="master" path="/sitecore/templates/Start up" />-->

						<!--<include database="master" path="/sitecore/system/Languages" />

<include database="master" path="/sitecore/system/Tasks">
<exclude path="Schedules" />
</include>

<include database="master" path="/sitecore/system/Workflows" />


<include database="master" path="/sitecore/system/Settings" />-->
					</predicate>

				</configuration>


				<configuration name="Gymster.Media">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\media"
					useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
					singleInstance="true"/>

					<predicate>

						<include name="GymsterMedia" database="master" path="/sitecore/media library/Gymster" />


						<!--<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Start up" />-->

						<!--<include name="StartUpTemplates" database="master" path="/sitecore/templates/Start up" />-->

						<!--<include database="master" path="/sitecore/system/Languages" />

<include database="master" path="/sitecore/system/Tasks">
<exclude path="Schedules" />
</include>

<include database="master" path="/sitecore/system/Workflows" />


<include database="master" path="/sitecore/system/Settings" />-->
					</predicate>

				</configuration>

				<configuration name="Gymster.Content">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\content"
					useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
					singleInstance="true"/>

					<predicate>

						<include name="GymsterContent" database="master" path="/sitecore/content/Gymster" />


						<!--<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Energym" />-->

						<!--<include name="StartUpTemplates" database="master" path="/sitecore/templates/Energym" />-->

						<!--<include database="master" path="/sitecore/system/Languages" />

<include database="master" path="/sitecore/system/Tasks">
<exclude path="Schedules" />
</include>

<include database="master" path="/sitecore/system/Workflows" />


<include database="master" path="/sitecore/system/Settings" />-->
					</predicate>

				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>

